
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared style */
.disply-flex{
    display: flex;
}

.text-primary{
    color: #FF900E;
}

.section-title{
    font-size: 2.8rem;
    font-weight: 700;
}

/* dark 02 */
.text-gray {
    color: #424242;
}
/* dark 03 */
.text-light-gray{
    color: #727272;
}
.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}

.btn-primary{
    background-color: #FF900E;
    color: white;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 8px;
    border: none;
}

main{
    max-width: 1440px;
    margin: 0 auto;
}

main > section{
    margin-top: 130px;
    max-width: 1330px;
}



/* header style */


/* navbar relates style */
.navbar{
    justify-content: space-between;
    align-items: center;
}
.brand{
    font-weight: 700px;
    font-size: 3rem;
}
.nav-item{
    list-style: none
}

.nav-links{
    text-decoration: none;
    font-weight: 500px;
    gap: 10px;
}

.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}

/* banner related style */
.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.banner-title{
    font-weight: 700;
    font-size: 4rem;

}

.banner-description{
    font-size: 1rem;
    font-weight: 400;
}

.banner-image{
    width: 100%;
}

/* team and feature related style*/
.teams{
    align-items: center;
}

.team-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.our-features{
    margin-left: 73px;
}

#part1{
    font-weight: 500;
}

/* feature section related styles */

.features{
    gap: 140px;
}

#feature-section-title{
    border-left: 5px solid #FF900E;
    padding-left: 21px;
    margin-top: 33px;
    margin-bottom: 40px;
}

.feature-card{
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
    margin-bottom: 20px;
}

.feature-card .feature-title{
    font-weight: 600px;
    font-size: 1.2rem;
    margin-top: 0px;
    margin-bottom: 0px;
}

#experience-badge{
    padding: 45px 42px;
    font-size: 1.5rem;
    font-weight: 500px;
    border-radius: 8px;
    margin-left: -100px;
    margin-top: -100px;
}

#experience-year{
    font-size: 4rem;
    font-weight: 700px;
}

.featured-architect img{
    width: 100%;

}

/* some facts style related */

.some-facts-title{
    margin-bottom: 24px;
}

.some-facts-description{
    width: 542px;
    margin-bottom: 100px;
    text-align: center;
}

.facts-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    
}

.fact-card{
    width: 241px;
    height: 241px;
    border: 1px solid #FF900E;
    gap: 124px;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.fact-number{
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 10px;
    color: rgba(66, 66, 66, 1);
}

.fact-name{
    font-size: 1.2rem;
    font-weight: 600;
    color: rgba(114, 114, 114, 1);
    margin-top: 10px;
}

/* sponsors related style */

.sponsors-info{
   max-width: 542px;
   margin: 50px auto;
   text-align: center;

}

.sponsors-companies{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 155px;
}

.sponsors-img{
    filter: grayscale(100%);
}

/* footer relater style */

.footer{
    max-width: 1600pxpx;
    height: 120px;
    margin-top: 130px;
    justify-items: center;
    border-radius: 8px;
}

.footer-description{
    text-align: center;
    background-color: #FFF4E7;
    color: rgba(66, 66, 66, 1);
    font-size: 1.2rem;
    font-weight: 400px;
    height: 70px;
}

/* responsive media query */
@media screen and (max-width: 576px) {
    .navbar, 
    .nav-links,
    .features,
    .teams{
        flex-direction: column;
    }

    .team-img-container, 
    .facts-container,
    .sponsors-companies
    {
        grid-template-columns: repeat(1, 1fr);
    }

    .sponsors-companies{
        justify-items: center;
        gap: 60px;
    }

    .some-facts-description{
        width: 390px;
        text-align: center;
    }

    .facts-container
    {
        justify-items: center;
        gap: 24px;
    }

    .our-features{
        margin-left: 20px;
    }

    #experience-badge{
        margin-top: 20px;
        margin-left: 20px;
    }
}

/* medium size device */
@media screen and (min-width: 576px) and (max-width: 992px) {
    .teams, .features{
        flex-direction: column;
    }

    .facts-container{
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        justify-items: center;
    }

    .sponsors-companies{
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
        justify-items: center;
    }

    #experience-badge{
        margin-top: 20px;
        margin-left: 20px;
    }

}


